.menu-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

ion-list {
  flex-grow: 1;
  flex-shrink: 0;
}

.menu-footer {
  padding: 32px;
  margin-top: auto;
  flex-shrink: 0;
}