<ion-menu side="start" menuId="main-menu" contentId="main-content" type="push">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false">
        <ion-item button (click)="goToSettings()">
          <ion-icon slot="start" name="settings-outline"></ion-icon>
          <ion-label>Configuración</ion-label>
        </ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle auto-hide="false">
        <ion-item button (click)="goToAppearance()">
          <ion-icon slot="start" name="brush-outline"></ion-icon>
          <ion-label>Apariencia</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item button (click)="goToHome()">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
          <div class="accion-container">
            <ion-button expand="block" color="tertiary" href="https://github.com/hmarort/amuzik-project/releases/download/v2.0.0/Amuzik.apk">
              <ion-icon slot="start" name="download-outline"></ion-icon>
              Descargar Amuzik
            </ion-button>
          </div>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>