.tema-preview {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 8px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  
  &.selected {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  &:hover {
    transform: scale(1.05);
  }
}

// Clases para cada tema (versión light)
.theme-standard-light {
  background-color: #3880ff;
}

.theme-neutral-light {
  background-color: #666666;
}

.theme-pastel-green-light {
  background-color: #7acb7a;
}

.theme-pastel-blue-light {
  background-color: #7fb2d9;
}

.theme-pastel-purple-light {
  background-color: #c17fd9;
}

.theme-pastel-red-light {
  background-color: #e78787;
}

.theme-pastel-orange-light {
  background-color: #f2a76c;
}

// Clases para cada tema (versión dark)
.theme-standard-dark {
  background-color: #3171e0;
}

.theme-neutral-dark {
  background-color: #444444;
}

.theme-pastel-green-dark {
  background-color: #5a9d5a;
}

.theme-pastel-blue-dark {
  background-color: #5992b9;
}

.theme-pastel-purple-dark {
  background-color: #9f5fb9;
}

.theme-pastel-red-dark {
  background-color: #c76767;
}

.theme-pastel-orange-dark {
  background-color: #d28b4c;
}

.check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  ion-icon {
    font-size: 28px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
  }
}